<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <div class="container">
        <h1>마이페이지</h1>
    </div>
    <div class="middle6 card bg-gray-100 text-black text-xl pt-5 w-[80%] h-[450px]">
        <span class="block font-bold text-3xl w-64 h-12 ml-12 mb-5">회원 정보</span>
        <div class="flex flex-row pl-12 h-12 mb-5">
            <label class="block w-28 h-12 font-bold flex items-center justify-left"> 아이디 </label>
            <div class="w-full h-12 ml-24 font-bold flex items-center" th:text="${siteUser.id}"></div>
        </div>
        <div class="flex flex-row pl-12 h-12 mb-5">
            <label class="block w-28 h-12 font-bold flex items-center justify-left"> 이름 </label>
            <div class="w-full h-12 ml-24 font-bold flex items-center" th:text="${siteUser.username}"></div>
        </div>
        <div class="flex flex-row pl-12 h-12 mb-5">
            <label class="block w-28 h-12 font-bold flex items-center justify-left"> Email </label>
            <div class="w-full h-12 ml-24 font-bold flex items-center" th:text="${siteUser.email}"></div>
        </div>
        <span class="block w-32 h-12 ml-auto mr-12 mb-5">
                <button class="btn btn-neutral hover:bg-purple-700" onclick="toggleEditUserInfoDiv()">회원정보 수정</button>
            </span>
        <!-- 비밀번호 변경 폼 및 관련 JavaScript -->
        <div id="editUserInfoDiv" class="hidden">
            <span class="block font-bold text-3xl w-64 h-12 ml-12 mb-5">비밀번호 변경</span>
            <form th:action="@{/user/changePassword}" method="post">
                <div class="flex flex-row pl-12 h-12 mb-5">
                    <label class="block w-28 h-12 font-bold flex items-center justify-left"> 현재 비밀번호 </label>
                    <input type="password" id="currentPassword" name="currentPassword" >
                </div>
                <div class="flex flex-row pl-12 h-12 mb-5">
                    <label class="block w-28 h-12 font-bold flex items-center justify-left"> 새 비밀번호 </label>
                    <input type="password" id="newPassword" name="newPassword" >
                </div>
                <div class="flex flex-row pl-12 h-12 mb-5">
                    <label class="block w-28 h-12 font-bold flex items-center justify-left"> 새 비밀번호 확인 </label>
                    <input type="password" id="confirmPassword" name="confirmPassword" >
                </div>
                <div class="flex flex-row pl-12 h-12 mb-5">
                    <button type="submit">비밀번호 변경</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="overlay" id="overlay"></div>
<script>
    function toggleEditUserInfoDiv() {
        var editUserInfoDiv = document.getElementById("editUserInfoDiv");
        var overlay = document.getElementById("overlay");

        if (editUserInfoDiv.classList.contains("hidden")) {
            editUserInfoDiv.classList.remove("hidden");
            editUserInfoDiv.classList.add("absolute");
            editUserInfoDiv.classList.add("z-50");
            overlay.style.display = "block"; // 오버레이를 보이게 함
        } else {
            editUserInfoDiv.classList.remove("absolute");
            editUserInfoDiv.classList.remove("z-50");
            editUserInfoDiv.classList.add("hidden");
            overlay.style.display = "none"; // 오버레이를 숨김
        }
    }
</script>
</html>
